{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container text-center py-5">
    <p class="lead fs-2" style="max-width: 800px; margin: 0 auto;">
        Jotly — это уютное веб-приложение для ведения личного дневника. Записывай мысли, эмоции и важные моменты в
        безопасном пространстве без лишнего шума.
    </p>
    <div class="mt-4">
        {% if user.is_authenticated %}
        <a href="{% url 'diary:entry_list' %}" class="btn btn-light btn-lg btn-custom">Мой дневник</a>
        {% else %}
        <a href="{% url 'users:register' %}" class="btn btn-light btn-lg btn-custom">Начать →</a>
        {% endif %}
    </div>
</div>
{% endblock %}